##This file is for shell agnostic environment variables
export DOTFILESDIR=$HOME/.dotfiles
export GHDIR=$HOME/github.com
export SHAREDSOURCEDIR=/src
export SHAREDBINDIR=$SHAREDSOURCEDIR/bin
export GOBIN=$SHAREDBINDIR
export GOROOT_FINAL=$SHAREDSOURCEDIR/go
export EDITOR=nano
export HISTSIZE='10000'
